<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>API</string>
		<string>iOS API Notes</string>
	</array>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>API</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>504162228.25988299</real>
				<key>lastModification</key>
				<real>504162228.25988299</real>
				<key>version</key>
				<dict>
					<key>cce0903d08ca9167866cc48bc7457ca61fe238a2ee2efa2f6a475cd7e3e97573</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>iOS API Notes</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>504245155.76838797</real>
				<key>lastModification</key>
				<real>504245155.76838797</real>
				<key>version</key>
				<dict>
					<key>cce0903d08ca9167866cc48bc7457ca61fe238a2ee2efa2f6a475cd7e3e97573</key>
					<integer>7</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>UIKit.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>504245165.74874598</real>
				<key>lastModification</key>
				<real>504245165.74874598</real>
				<key>version</key>
				<dict>
					<key>cce0903d08ca9167866cc48bc7457ca61fe238a2ee2efa2f6a475cd7e3e97573</key>
					<integer>36</integer>
				</dict>
			</dict>
			<key>iOS-API-Note-UIKit.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>503989106.429712</real>
				<key>lastModification</key>
				<real>503989106.429712</real>
				<key>version</key>
				<dict>
					<key>cce0903d08ca9167866cc48bc7457ca61fe238a2ee2efa2f6a475cd7e3e97573</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>iOS学习笔记：Responder Chain.md</key>
			<dict>
				<key>lastModification</key>
				<real>503737382.259736</real>
				<key>version</key>
				<dict>
					<key>cce0903d08ca9167866cc48bc7457ca61fe238a2ee2efa2f6a475cd7e3e97573</key>
					<integer>22</integer>
				</dict>
			</dict>
			<key>iOS学习笔记：RunLoop.md</key>
			<dict>
				<key>lastModification</key>
				<real>503572637.00019801</real>
				<key>version</key>
				<dict>
					<key>cce0903d08ca9167866cc48bc7457ca61fe238a2ee2efa2f6a475cd7e3e97573</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>iOS学习笔记：Runtime.md</key>
			<dict>
				<key>lastModification</key>
				<real>504245164.023453</real>
				<key>version</key>
				<dict>
					<key>cce0903d08ca9167866cc48bc7457ca61fe238a2ee2efa2f6a475cd7e3e97573</key>
					<integer>35</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>iOS学习笔记：Responder Chain.md</string>
		</array>
		<array>
			<string>iOS-API-Note-UIKit.md</string>
		</array>
		<array>
			<string>UIKit.md</string>
		</array>
		<array>
			<string>iOS学习笔记：RunLoop.md</string>
		</array>
		<array>
			<string>iOS学习笔记：Runtime.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>cce0903d08ca9167866cc48bc7457ca61fe238a2ee2efa2f6a475cd7e3e97573</key>
			<integer>7</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>cce0903d08ca9167866cc48bc7457ca61fe238a2ee2efa2f6a475cd7e3e97573</key>
			<integer>36</integer>
		</dict>
	</dict>
</dict>
</plist>
