<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array/>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict/>
		<key>sheetClusters</key>
		<dict>
			<key>Threading Programming Guide.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>505469643.05509502</real>
				<key>lastModification</key>
				<real>505469643.05509502</real>
				<key>version</key>
				<dict>
					<key>cce0903d08ca9167866cc48bc7457ca61fe238a2ee2efa2f6a475cd7e3e97573</key>
					<integer>45</integer>
				</dict>
			</dict>
			<key>iOS学习笔记：Responder Chain.md</key>
			<dict>
				<key>lastModification</key>
				<real>503737382.259736</real>
				<key>version</key>
				<dict>
					<key>cce0903d08ca9167866cc48bc7457ca61fe238a2ee2efa2f6a475cd7e3e97573</key>
					<integer>22</integer>
				</dict>
			</dict>
			<key>iOS学习笔记：RunLoop.md</key>
			<dict>
				<key>lastModification</key>
				<real>503572637.00019801</real>
				<key>version</key>
				<dict>
					<key>cce0903d08ca9167866cc48bc7457ca61fe238a2ee2efa2f6a475cd7e3e97573</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>iOS学习笔记：Runtime.md</key>
			<dict>
				<key>lastModification</key>
				<real>504245164.023453</real>
				<key>version</key>
				<dict>
					<key>cce0903d08ca9167866cc48bc7457ca61fe238a2ee2efa2f6a475cd7e3e97573</key>
					<integer>35</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Threading Programming Guide.md</string>
		</array>
		<array>
			<string>iOS学习笔记：Responder Chain.md</string>
		</array>
		<array>
			<string>iOS学习笔记：RunLoop.md</string>
		</array>
		<array>
			<string>iOS学习笔记：Runtime.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>cce0903d08ca9167866cc48bc7457ca61fe238a2ee2efa2f6a475cd7e3e97573</key>
			<integer>7</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>cce0903d08ca9167866cc48bc7457ca61fe238a2ee2efa2f6a475cd7e3e97573</key>
			<integer>45</integer>
		</dict>
	</dict>
</dict>
</plist>
