<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>iOS开源类库</string>
		<string>iOS学习笔记</string>
	</array>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>iOS学习笔记</key>
			<dict>
				<key>lastModification</key>
				<real>503486837.70268601</real>
				<key>version</key>
				<dict>
					<key>cce0903d08ca9167866cc48bc7457ca61fe238a2ee2efa2f6a475cd7e3e97573</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>iOS开源类库</key>
			<dict>
				<key>lastModification</key>
				<real>503486957.13062102</real>
				<key>version</key>
				<dict>
					<key>cce0903d08ca9167866cc48bc7457ca61fe238a2ee2efa2f6a475cd7e3e97573</key>
					<integer>5</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>cce0903d08ca9167866cc48bc7457ca61fe238a2ee2efa2f6a475cd7e3e97573</key>
			<integer>5</integer>
		</dict>
	</dict>
</dict>
</plist>
