<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>Untitled - 2.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>503486993.515948</real>
				<key>lastModification</key>
				<real>503486993.515948</real>
				<key>version</key>
				<dict>
					<key>cce0903d08ca9167866cc48bc7457ca61fe238a2ee2efa2f6a475cd7e3e97573</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>iOS开源类库：Runtime.md</key>
			<dict>
				<key>lastModification</key>
				<real>503487010.70064801</real>
				<key>version</key>
				<dict>
					<key>cce0903d08ca9167866cc48bc7457ca61fe238a2ee2efa2f6a475cd7e3e97573</key>
					<integer>9</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Untitled - 2.md</string>
		</array>
		<array>
			<string>iOS开源类库：Runtime.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>cce0903d08ca9167866cc48bc7457ca61fe238a2ee2efa2f6a475cd7e3e97573</key>
			<integer>10</integer>
		</dict>
	</dict>
</dict>
</plist>
