<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>Runtime-Example-AssociatedObject.md</key>
			<dict>
				<key>lastModification</key>
				<real>503497595.07003701</real>
				<key>version</key>
				<dict>
					<key>cce0903d08ca9167866cc48bc7457ca61fe238a2ee2efa2f6a475cd7e3e97573</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>Runtime-Example-Demo-iOS.md</key>
			<dict>
				<key>lastModification</key>
				<real>503497644.15630198</real>
				<key>version</key>
				<dict>
					<key>cce0903d08ca9167866cc48bc7457ca61fe238a2ee2efa2f6a475cd7e3e97573</key>
					<integer>19</integer>
				</dict>
			</dict>
			<key>Runtime-Example-MethodSwizzling - 2 - 2.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>503497581.91407299</real>
				<key>lastModification</key>
				<real>503497581.91407299</real>
				<key>version</key>
				<dict>
					<key>cce0903d08ca9167866cc48bc7457ca61fe238a2ee2efa2f6a475cd7e3e97573</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>Runtime-Example-MethodSwizzling.md</key>
			<dict>
				<key>lastModification</key>
				<real>503497471.90975499</real>
				<key>version</key>
				<dict>
					<key>cce0903d08ca9167866cc48bc7457ca61fe238a2ee2efa2f6a475cd7e3e97573</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Runtime-Example-Demo-iOS.md</string>
		</array>
		<array>
			<string>Runtime-Example-MethodSwizzling.md</string>
		</array>
		<array>
			<string>Runtime-Example-AssociatedObject.md</string>
		</array>
		<array>
			<string>Runtime-Example-MethodSwizzling - 2 - 2.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>cce0903d08ca9167866cc48bc7457ca61fe238a2ee2efa2f6a475cd7e3e97573</key>
			<integer>20</integer>
		</dict>
	</dict>
</dict>
</plist>
