<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>RunLoop-Code-Demo-iOS.md</key>
			<dict>
				<key>lastModification</key>
				<real>503580926.15544599</real>
				<key>version</key>
				<dict>
					<key>cce0903d08ca9167866cc48bc7457ca61fe238a2ee2efa2f6a475cd7e3e97573</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>Runtime-Code-AssociatedObject.md</key>
			<dict>
				<key>lastModification</key>
				<real>503581183.31368297</real>
				<key>version</key>
				<dict>
					<key>cce0903d08ca9167866cc48bc7457ca61fe238a2ee2efa2f6a475cd7e3e97573</key>
					<integer>31</integer>
				</dict>
			</dict>
			<key>Runtime-Code-Demo-iOS.md</key>
			<dict>
				<key>lastModification</key>
				<real>503581144.53474897</real>
				<key>version</key>
				<dict>
					<key>cce0903d08ca9167866cc48bc7457ca61fe238a2ee2efa2f6a475cd7e3e97573</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>Runtime-Code-MethodSwizzling.md</key>
			<dict>
				<key>lastModification</key>
				<real>503581171.64679903</real>
				<key>version</key>
				<dict>
					<key>cce0903d08ca9167866cc48bc7457ca61fe238a2ee2efa2f6a475cd7e3e97573</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>Runtime-Example-MethodSwizzling - 2 - 2.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>503497581.91407299</real>
				<key>lastModification</key>
				<real>503497581.91407299</real>
				<key>version</key>
				<dict>
					<key>cce0903d08ca9167866cc48bc7457ca61fe238a2ee2efa2f6a475cd7e3e97573</key>
					<integer>11</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>RunLoop-Code-Demo-iOS.md</string>
		</array>
		<array>
			<string>Runtime-Code-Demo-iOS.md</string>
		</array>
		<array>
			<string>Runtime-Code-MethodSwizzling.md</string>
		</array>
		<array>
			<string>Runtime-Code-AssociatedObject.md</string>
		</array>
		<array>
			<string>Runtime-Example-MethodSwizzling - 2 - 2.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>cce0903d08ca9167866cc48bc7457ca61fe238a2ee2efa2f6a475cd7e3e97573</key>
			<integer>32</integer>
		</dict>
	</dict>
</dict>
</plist>
